# Generate with: openssl rand -hex 32
SESSION_SECRET=change_this_to_a_long_random_string

# Internal secret between nginx and panel
HOOK_SECRET=change_this_to_another_random_string

# Admin account (created on first boot)
ADMIN_EMAIL=admin@yourdomain.com
ADMIN_PASSWORD=change_this_strong_password

# Your domain for Traefik HTTPS
DOMAIN=stream.yourdomain.com
